{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-coin">{{ entry_coin }}</label>
                        <div class="col-sm-10">

                            {% if coin_list is empty %}
                                <label class="control-label">{{ coin }}</label>
                                <input type="hidden" name="coin" value="{{ coin }}">
                            {% else %}
                                <select name="coin" id="input-coin" class="form-control">

                                    {% for coin_symbol in coin_list %}
                                        {% set selected = '' %}
                                        {% if coin_symbol == coin %}
                                            {% set selected = 'selected' %}
                                        {% endif %}            
                                        <option value="{{ coin_symbol }}" {{ selected }}>{{ coin_symbol }}</option>
                                        }
                                    {% endfor %}

                                </select>
                            {% endif %}
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-api-key">{{ entry_api_key }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="api_key" value="{{ api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
                            {% if error_api_key %}
                            <div class="text-danger">{{ error_api_key }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                            {% if error_password %}
                            <div class="text-danger">{{ error_password }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-exchange-rate-multiplier">{{ entry_exchange_rate_multiplier }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="exchange_rate_multiplier" value="{{ exchange_rate_multiplier }}" placeholder="{{ entry_exchange_rate_multiplier }}" id="input-exchange-rate-multiplier" class="form-control" />
                            {% if error_exchange_rate_multiplier %}
                            <div class="text-danger">{{ error_exchange_rate_multiplier }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-minimum-value">{{ entry_minimum_value }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="minimum_value" value="{{ minimum_value }}" placeholder="{{ entry_minimum_value }}" id="input-minimum-value" class="form-control" />
                            {% if error_minimum_value %}
                            <div class="text-danger">{{ error_minimum_value }}</div>
                            {% endif %}
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
    <link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
    <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

</div>
{{ footer }}
