{{ header }}
<div id="common-success" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
        <main id="site-content" role="main">
          <div class="cr-plugin-copy">
            <p>Copied</p>
          </div>
         <article class="post-8 page type-page status-publish hentry" id="post-8">
            <input type="hidden" id="address" value="{{coinremitter_order_info['address']}}" />
            <input type="hidden" id="enc_order_id" value="{{enc_order_id | url_encode}}">
            <input type="hidden" id="coin" value="{{coinremitter_order_info['coin']}}">
            <input type="hidden" id="expire_on">
            <h2>Order Invoice #{{order_id}}</h2>
            <div class="post-inner thin ">
               <div class="entry-content">
                    {% if order_status is not empty %}
                        <div class="alert alert-warning alert-dismissible">
                           Your order status <b>{{order_status}}</b> 
                           <button type="button" class="close" data-dismiss="alert" style="position: absolute; right: 0;" >×</button>
                        </div>
                     {% endif %}
                  <div class="cr-plugin-main-box clearfix">
                     <div class="cr-plugin-left">
                        <div class="cr-plugin-shipping cr-plugin-shadow cr-plugin-mr-top clearfix">
                           <div class="cr-plugin-shipping-address">
                              <h3 class="cr-plugin-title">Billing Address</h3>
                              <p>
                                {{payment_address}}
                              </p>
                           </div>
                           <div class="cr-plugin-billing-address">
                              <h3 class="cr-plugin-title">Shipping Address</h3>
                              <p>
                                 {{shipping_address}}
                              </p>
                           </div>
                        </div>
                        <div class="cr-plugin-cart-summary cr-plugin-shadow cr-plugin-mr-top">
                           <h3 class="cr-plugin-title">Cart Summary</h3>
                           <div class="cr-plugin-cart-table">
                              <div class="cr-plugin-cart-table-box">
                                 <table>
                                    <thead>
                                       <tr>
                                          <th class="text-left">Product Info</th>
                                          <th class="text-right">Qty</th>
                                          <th class="text-right">Unit Price</th>
                                          <th class="text-right">Total</th>
                                       </tr>
                                    </thead>
                                    <tbody>

                                      {% for product in products %}
                                       <tr>
                                          <td style="width: 300px;">
                                             <div class="cr-plugin-cart-img">
                                                <a href=""><img src="{{product.thumb}}" align="" alt="{{ product.name }}" width="50"></a>
                                             </div>
                                             <div class="cr-plugin-cart-des">
                                                <p>{{ product.name }} 
                                                {% for option in product.option %} <br />
                                            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</p>
                                             </div>
                                          </td>
                                          <td class="text-right">
                                             <span>{{ product.quantity }}</span>
                                          </td>
                                          <td class="text-right">
                                             <span>{{ product.price }}</span>
                                          </td>
                                          <td class="text-right">
                                             <span>{{ product.total }}</span>
                                          </td>
                                       </tr>
                                      {% endfor %}
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <div class="cr-plugin-payment-detail">
                              <h3 class="cr-plugin-title">Payment Details</h3>

                              {% for total in totals %}
                                {% if total.title != 'Total' %}
                                  <ul>
                                     <li>{{ total.title }} <span>{{ total.text }}</span></li>
                                  </ul>
                                {% elseif total.title == 'Total' %}
                                  <ul class="cr-plugin-payment-grand">
                                     <li>{{ total.title }} <span>{{ total.text }}</span></li>
                                  </ul>
                                {% endif %}
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                     <div class="cr-plugin-right">
                        <div class="cr-plugin-billing-main cr-plugin-shadow">
                           <h3 class="cr-plugin-title">Billing Address</h3>
                           <div class="cr-plugin-timer" id="timerStatus"></div>
                           <div class="cr-plugin-billing-box">
                              <div class="cr-plugin-billing-code">
                                 <img class="copyToClipboard" data-copy-detail = "{{coinremitter_order_info['address']}}" src="{{coinremitter_order_info['qr_code']}}" align="" title="Click to Copy">
                              </div>
                              <div class="cr-plugin-billing-amount">
                                 <ul>
                                    <li>
                                       <span>Address</span>
                                       <p class="copyToClipboard" data-copy-detail = "{{coinremitter_order_info['address']}}" title="Click to copy">{{coinremitter_order_info['address']}} <i class="fa fa-clipboard" title="Click to copy"></i></p>
                                    </li>
                                    <li>
                                       <span>Amount</span>
                                       <p class="copyToClipboard" data-copy-detail = "{{coinremitter_order_info['crp_amount'] }}" title="Click to Copy">{{coinremitter_order_info['crp_amount'] }} {{coinremitter_order_info['coin']}}</p>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="cr-plugin-payment-history cr-plugin-shadow cr-plugin-mr-top">
                           <h3 class="cr-plugin-title">Payment History</h3>
                           <div class="cr-plugin-timer" id="paymentStatus"></div>
                           <div class="cr-plugin-history-list" id="cr-plugin-history-list">
                              <div class="cr-plugin-history-box">
                                 <div class="cr-plugin-history">
                                    
                                 </div>
                              </div>
                           </div>
                           <div class="cr-plugin-history-footer">
                              <ul class="clearfix">
                                 <li>Paid <span id="paid-amt">0.00000000 {{coinremitter_order_info['coin']}}</span></li>
                                 <li>Pending <span id="pending-amt">{{coinremitter_order_info['crp_amount'] }} {{coinremitter_order_info['coin']}}</span></li>
                              </ul>
                           </div>
                        </div>
                        <div class="cr-plugin-brand">
                           <span style="">Secured by</span>
                           <a href="https://coinremitter.com" target="_blank">
                              <img src="extension/coinremitter/admin/view/image/coinremitter/coinremitter.png">
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- .entry-content -->
            </div>
         </article>
         <!-- .post -->
      </main>
      

      {{ content_bottom }}
    </div>
      {{ column_right }}
  </div>
</div>
{{ footer }}